/*layout*/

html,
body {
	height: 100%;
}

body {
	position: relative;
	font-size: 14px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ecf0f1;
	background: url(../images/back.png);
	background-attachment: fixed;
	background-size: cover;
}

.header {
	height: 60px;
	background: -webkit-linear-gradient( #36cddb, #20cbba);
	background: -o-linear-gradient( #36cddb, #20cbba);
	background: -moz-linear-gradient( #36cddb, #20cbba);
	background: -mos-linear-gradient( #36cddb, #20cbba);
	background: linear-gradient( #36cddb, #20cbba);
}

.site-logo {
	height: 100%;
	width: 180px;
	margin-left: 36px;
	background-size: 144px 48px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 0 6px;
}

.middle {
	position: absolute;
	top: 60px;
	left: 0;
	right: 240px;
	bottom: 0;
}

.site-section {
	height: 100%;
	position: relative;
}

.site-ranking {
	position: absolute;
	width: 220px;
	top: 78px;
	bottom: 200px;
	right: 20px;
	background-color: #fff;
}

.section-header {
	height: 60px;
}

.current-pos {
	line-height: 60px;
	float: left;
	margin-left: 36px;
	padding-left: 26px;
	background: transparent url(../images/index_06.png) no-repeat 0 center;
	background-size: 18px;
}

.current-pos a {
	color: #8b8c8c;
}

.select-wrapper {
	float: right;
}

.select-wrapper input[type="text"] {
	border: none;
	height: 100%;
	width: 100%;
	background: transparent;
	padding: 0 8px;
	position: relative;
	z-index: 9;
}

.site-developer {
	margin-right: 12px;
	width: 178px;
	position: relative;
	float: left;
	margin-top: 17px;
}

.developer-input {
	height: 25px;
	width: 178px;
	border: 1px solid #c1e9ec;
	overflow: hidden;
	background: #FFFFFF;
	border-radius: 4px;
	position: relative;
	z-index: 9;
}

.developer-input i {
	position: absolute;
	cursor: pointer;
	top: 6px;
	right: 8px;
	font-weight: bold;
	font-size: 14px;
	color: #8C8C8C;
	z-index: 1;
}

.site-drop-down {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #c1e9ec;
	display: none;
	z-index: 9;
}

.site-drop-down {
	padding-top: 8px;
}

.site-drop-down li {
	color: #6c6e6e;
	cursor: pointer;
	padding: 4px 8px 4px 12px;
}

.site-drop-down li:hover {
	background: #c1e9ec;
	color: #6c6e6e;
}

.site-menu {
	width: 140px;
}

.site-menu li {
	width: 100%;
	height: 38px;
	position: relative;
	margin: 15px 0;
}

.show-item {
	width: 100%;
	height: 100%;
	background: transparent url(../images/index_16.png) no-repeat 14px center;
	background-size: 36px 36px;
}

.show-item-2 {
	background: transparent url(../images/index_43.png) no-repeat 12px center;
	background-size: 36px 36px;
}

.show-item-3 {
	background: transparent url(../images/index_47.png) no-repeat 12px center;
	background-size: 36px 36px;
}

.show-item-4 {
	background: transparent url(../images/index_45.png) no-repeat 12px center;
	background-size: 36px 36px;
}

.show-item a {
	line-height: 38px;
	padding-left: 60px;
	color: #23b0ce;
	font-size: 13px;
	display: inline-block;
	height: 100%;
}

.hide-item {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 4px;
	overflow: hidden;
	border-radius: 0 5px 5px 0;
	transition: all .3s;
}

.hide-item a {
	background-color: #33cdd6;
	display: inline-block;
	width: 80px;
	height: 38px;
	border-radius: 0 5px 5px 0;
	line-height: 38px;
	color: #FFF2E9;
	font-weight: 600;
	font-size: 13px;
	padding-left: 60px;
	background: #33cdd6 url(../images/index_30.png) no-repeat 8px center;
	background-size: 38px 28px;
}

.site-middle {
	position: absolute;
	top: 60px;
	left: 140px;
	right: 0;
	bottom: 0;
}

.site-middle ul {
	width: 100%;
	height: 100%;
}

.site-middle ul li {
	width: 33.3%;
	float: left;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.card {
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 36px;
	width: 280px;
	height: 400px;
	background: #fff;
	margin-left: -140px;
	-moz-box-shadow: 0 0 50px #8ceaf7;
	box-shadow: 0 0 50px #8ceaf7;
	transition: all .5s;
	border-radius: 8px;
}

.card-pic {
	width: 260px;
	height: 260px;
	background: transparent url(../images/index_37.png) no-repeat 10px center;
	background-size: cover;
}

.card-pic-2 {
	background: transparent url(../images/index_39.png) no-repeat 10px -30px;
	background-size: cover;
}

.card-pic-3 {
	width: 100%;
	background: transparent url(../images/index_41.png) no-repeat 22px center;
	background-size: 250px 254px;
}

.card-header {
	height: 52px;
	line-height: 52px;
	margin-bottom: 20px;
}

.card:hover {
	box-shadow: 0 28px 50px #8ceaf7;
}

.card-btn {
	position: absolute;
	bottom: 120px;
	width: 160px;
	height: 32px;
	border-radius: 32px;
	left: 50%;
	margin-left: -80px;
}

@media screen and (max-width:1600px) {
	.card {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 36px;
		width: 248px;
		height: 372px;
		background: #fff;
		margin-left: -140px;
		-moz-box-shadow: 0 0 50px #8ceaf7;
		box-shadow: 0 0 50px #8ceaf7;
		transition: all .5s;
		border-radius: 8px;
	}
	.card-pic {
		width: 248px;
		height: 248px;
		background: transparent url(../images/index_37.png) no-repeat 10px center;
		background-size: cover;
	}
	.card-pic-2 {
		background: transparent url(../images/index_39.png) no-repeat 10px -30px;
		background-size: cover;
	}
	.card-pic-3 {
		width: 100%;
		background: transparent url(../images/index_41.png) no-repeat 20px 0px;
		background-size: 230px 240px;
	}
}


@media screen and (max-width:1400px) {
 .card-btn {
	 
		bottom: 40px;
	 
	}
}

@media screen and (min-width: 1600px) and (max-width: 1930px) {
	.card {
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 66px;
		width: 320px;
		height: 460px;
	}
	.card-pic {
		width: 300px;
		height: 298px;
		background-size: cover;
	}
	.card-btn {
		position: absolute;
		bottom: 50px;
		width: 140px;
		height: 40px;
		border-radius: 32px;
		left: 50%;
		margin-left: -70px;
	}
}



.s-info {
	padding-left: 15px;
}

.s-info .danger {
	color: #e62a0e;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}

.s-info .success {
	color: #03cebc;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}

.time {
	float: right;
	padding-right: 16px;
	font-size: 13px;
}

.nav-btn {
	width: 46px;
	height: 46px;
	position: absolute;
	left: 50%;
	bottom: -23px;
	margin-left: -23px;
	border-radius: 50%;
	background: transparent url(../images/down_arrow.png) no-repeat center center;
	background-size: cover;
	-webkit-animation: down_arrow 1.8s infinite linear;
}

@-webkit-keyframes down_arrow {
	0% {
		-webkit-transform: translateY(-23px);
	}
	50% {
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(-23px);
	}
}

.ranking-tit {
	background-color: #adf8f2;
	height: 48px;
	line-height: 48px;
	padding-left: 15px;
	font-size: 14px;
	color: #373636;
}

.ranking-items {
	width: 204px;
	margin-left: 16px;
	margin-top: 8px;
}

.ranking-items h5 {
	height: 34px;
	line-height: 34px;
	border-bottom: 1px dotted #d8d8d8;
	cursor: pointer;
}

.site-ran-pic {
	width: 68px;
	height: 68px;
	float: left;
	background: transparent url(../images/index_19.png) no-repeat center center;
}

.site-ran-con {
	padding: 12px 0;
	background-color: #fffefc;
	display: none;
}

.site-ran-con ul {
	width: 132px;
	float: right;
	color: #949393;
}

.site-ran-con ul li {
	line-height: 24px;
	padding-left: 12px;
}

.t-success {
	color: #e62a0e;
}

.t-danger {
	color: #03cebc;
}

.checked {
	color: #ff6344;
}